.hero {
  padding: 60px;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;

  &__content {
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    padding: 20px;
    border-radius: 8px;
  }
}